header {
    height: 510px;
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/d9e1a1812e7c/assets/img/home/hero_photos/56iJtZPYDgoy0hSV4Ez5zw.jpg);
    background-size: cover;
    background-position: center;
    background: linear-gradient((90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 55%));
}

.container-top {
    width: 100%;
    padding: 17px 0 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home {
    display:flex;
    color:white;
    align-items: center;
    width: 110px;
    height: 50px ;
    padding: 5px 5px;
    background-color: transparent;
    color: #fff;
}

.search {
    display: flex;
    margin-left: 20px;
    align-items:center;
    width: 39% ;
    height: 50px;
}

.search input {
    width: 70%;
    font-size: 16px;
    height: 100%;
    padding: 0 16px;
    border:none;
    outline: none; 
}

.textsearchlocal {
    border-radius: 5px 0px 0px 5px;
}


.searchbutton {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 80px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color:  red;
}
.searchbutton:hover {
    background-color:  rgb(255, 81, 0);
}

.searchsymbol {
    width: 32px;
    height: 32px;
}

.buttons {
    font-weight: 700;
    display: flex;
    margin-left: 90px;
    justify-content: space-evenly;
    align-items: center;
}

.tipo1 {
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.tipo1:hover {
    background-color: rgba(158, 158, 148, 0.5);
}

.tipo2 {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.tipo2:hover {
    background-color: rgba(158, 158, 148, 0.3);
    backdrop-filter: blur(10px);
}

.tipo3 {
    margin: 5px;
    padding: 10px 15px;
    background-color:red;
    border-radius: 5px;
    color: white;
}

.tipo3:hover {
    background-color:  rgb(255, 81, 0);
}

.menus {
    color: white;
    height: 58px;
    margin-left: 190px;
    display:flex;
    justify-content: flex-start;
}
.menus a {
    font-size: 19px;
    padding: 15px 30px 0px 0 ;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 32px 0 0px ;
    margin-right: 150px;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}

.creds {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 170px;
    padding-left: 125px;
    color: #fff;
    font-size: 16px;
}
.creds a{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.atividades {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 24px;
}
.atividades h2 {
    font-size: 30px;
    font-weight: 700;
}